<!DOCTYPE html>
<html lang="ja">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <title>{{title}}</title>
    {% endblock %}
</head>
<body>
    <div>
{% block contents %}
{% endblock %}
    </div>
    <footer>
{% block footer %}
<hr>
&copy; Copyright 2018 by Akira OTA.
{% endblock %}
        </footer>
</body>
</html>