{% extends "base.html" %}
{% block contents %}
<div class="row">
    <div class="ten columns">ログイングループ名：{{login}}</div>
    <div class="one column" style="vertical-align: middle;"><a href="/menu"
                                                                target="_parent"><img src="/static/img/return.png"
                                                                                alt="メニューに戻る"
                                                                      width="32"
                                                                                      height="32"></a></div>
    <div class="one column" style="vertical-align: middle;"><a href="/logout"
                                                                target="_parent"><img src="/static/img/logout.png"
                                                                                alt="ログアウト"
                                                                      width="32"
                                                                                      height="32"></a></div>
</div>
<div class="row">
<hr>
</div>
<div class="row">
    <div class="four columns">&nbsp;</div>
    <div class="four columns">
        <table>
            <caption>
            <a href="/list/{{prev_month}}">&lt;</a>&emsp;{{year}}年{{month}}月の予定&emsp;<a href="/list/{{next_month}}">&gt;</a>
            </caption>
            <thead>
                <tr>
                    <th class="sunday">日</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                    <th class="saturday">土</th>
                </tr>
            </thead>
            <tbody>
                {% for w in days %}
                <tr>
                    {% for d in w %}
                    <td>
                        {% if d != 0 %}
                        {{d}}
                        {% else %}
                        &emsp;
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    <div class="four columns">&nbsp;</div>
</div>
{% endblock %}
{% block footer %}
{{super()}}
<div class="row">
    Icons designed by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">Flaticon</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
{% endblock %}
