<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<div class="control_button">&lt;&nbsp;&nbsp; {{month}}月の予定 &nbsp;&nbsp;&gt;</div>
<table>
	<tbody>
		<tr>
			<th class="sunday">日</th>
			<th>月</th>
			<th>火</th>
			<th>水</th>
			<th>木</th>
			<th>金</th>
			<th class="saturday">土</th>
		</tr>
        {% for w in days %}
		<tr>
            {% for d in w %}
			<td>{{d}}</td>
            {% endfor %}
		</tr>
        {% endfor %}
	</tbody>
</table>
</body>
</html>