{% extends "base.html" %}
{% block contents %}
<div class="row">
    <table>
        <caption>グループ一覧</caption>
        <thead>
        <tr>
            <th></th><th>グループ名</th><th>作成年月日</th>
        </tr>
        </thead>
        <tbody>
        {% for g in grs %}
        <tr><input type="checkbox" id="{{g.id}}"
                   name="target_grp"
                   value="{{g.id}}"><td></td><td><label for="{{g.id}}">{{g.name}}</td><td>{{g.createdon}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
