<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<div class="login_form">
    <form name="login_info" action="/" method="post" enctype="text/plain" accept-charset="UTF-8">
        <img src="/static/img/user.png" alt="グループ名" width="16" height="16">&nbsp;<input type="text" name="group_name" size="20" maxlength="120"><br>
        <img src="/static/img/lock.png" alt="パスワード" width="16" height="16">&nbsp;<input type="password" name="pass" size="20" maxlength="120"><br>
        <input type="submit" value="ログイン">
    </form>
</div>
<hr>
<div class="footer_note">
    Icons designed by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
</body>
</html>