{% extends "base.html" %}
{% block contents %}
<div class="row">
    <form name="login_info" action="/" method="post" enctype="text/plain" accept-charset="UTF-8">
        <img src="/static/img/user.png" alt="グループID" width="16" height="16">&nbsp;<input type="text" name="group_id"
                                                                                        size="20" maxlength="120"
                                                                                         title="10桁のグループコードを入力"><br>
        <img src="/static/img/lock.png" alt="パスワード" width="16" height="16">&nbsp;<input type="password" name="passwd"
                                                                                        size="20" maxlength="120"
                                                                                        title="ログインパスワードを入力"><br>
        <input type="submit" value="ログイン">
    </form>
</div>
{% endblock %}
{% block footer %}
{{super()}}
<div class="row">
    Icons designed by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
{% endblock %}