{% extends "base.html" %}
{% block contents %}
<div class="row">
    <label>活動可能日：<input type="date" name="master_date"></label>
    <label>時間帯：<select name="master_time" style="width: 75px;">
        <option value="{{s['id']}}" selected>{{s['val']}}</option>
        <option value="{{s['id']}}" selected>{{s['val']}}</option>
    </select></label>
</div>
<div class="row">
<hr>
</div>
{% endblock %}
{% block footer %}
{{super()}}
<div class="row">
    Icons designed by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">Flaticon</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
{% endblock %}
