{% extends "base.html" %}
{% block contents %}
<body>
<div class="row">
    <div class="ten columns">ログイングループ名：{{login}}</div>
    <div class="two columns" style="vertical-align: middle;"><a href="/logout"
                                                                target="_parent"><img src="/static/img/logout.png"
                                                                                alt="ログアウト"
                                                                      width="32"
                                                                                      height="32"></a></div>
</div>
<div class="row">
<hr>
</div>
<div class="row">
        <div class="two columns">&nbsp;</div>
        <div class="two columns">
            <a href="/list"
               target="_parent"><img src="/static/img/time.png" width="80" height="80" alt="予定閲覧"></a><br>予定閲覧
        </div>
        <div class="two columns">
            <a href="/schedule" target="_parent"><img src="/static/img/draw.png" width="80"
                                                                       height="80" alt="予定登録"></a><br>予定登録
        </div>
        <div class="two columns">
            <a href=""
               target="_parent"><img src="/static/img/cogwheel.png" width="80" height="80" alt="設定変更"></a><br>設定変更
        </div>
        <div class="two columns">
            <a href=""
              target="_parent"><img src="/static/img/technology.png" width="80" height="80" alt="使い方表示"></a><br>使い方表示
        </div>
        <div class="two columns">&nbsp;</div>
</div>
{% endblock %}
{% block footer %}
{{super()}}
<div class="row">
    Icons designed by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">Flaticon</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
{% endblock %}
