{% extends "base.html" %}
{% block contents %}
ログイングループ名：{{login}}
<hr>
<form name="schedule_info" action="/" method="post" enctype="text/plain" accept-charset="UTF-8">
    <table>
        <caption>{{year}}年{% if month < 10 %}&ensp;{% endif %}{{month}}月の活動予定入力</caption>
        <thead>
            <tr>
                <th>日付</th>
                <th>時間帯</th>
                <th class="cell_head">活動する場合 ◯</th>
            </tr>
        </thead>
        <tbody>
            {% for s in gs %}
            <tr>
                <td>{{s['day']}}</td>
                <td>{{s['time']}}</td>
                <td>
                    <select name="ox" style="width: 75px;">
                        <option value="{{s['day']}}-{{s['time']}}-0" {% if s['ox'] == 0 %} selected {% endif
                        %}>×</option>
                        <option value="{{s['day']}}-{{s['time']}}-1" {% if s['ox'] == 1 %} selected {% endif %}>○</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="入力完了">
</form>
{% endblock %}