{% extends "base.html" %}
{% block contents %}
<div class="row">
    <div class="ten columns">ログイングループ名：{{login}}</div>
    <div class="one column" style="vertical-align: middle;"><a href="/menu"
                                                                target="_parent"><img src="/static/img/return.png"
                                                                                alt="メニューに戻る"
                                                                      width="32"
                                                                                      height="32"></a></div>
    <div class="one column" style="vertical-align: middle;"><a href="/logout"
                                                                target="_parent"><img src="/static/img/logout.png"
                                                                                alt="ログアウト"
                                                                      width="32"
                                                                                      height="32"></a></div>
</div>
<div class="row">
<hr>
</div>
<div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="six columns">
        <form name="schedule_info" action="/" method="post" enctype="text/plain" accept-charset="UTF-8">
            <table>
                <caption>{{year}}年{% if month < 10 %}&ensp;{% endif %}{{month}}月の活動予定入力</caption>
                <thead>
                    <tr>
                        <th>日付</th>
                        <th>時間帯</th>
                        <th class="cell_head">活動する場合 ◯</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in gs %}
                    <tr>
                        <td><input type="hidden" name="day" value="{{s['day']}}">{{s['day']}}</td>
                        <td><input type="hidden" name="timetype"
                                   value="{% if s['time'] == '昼' %}0{% else %}1{% endif %}">{{s['time']}}</td>
                        <td>
                            <select name="ox" style="width: 75px;">
                                <option value="0" {% if s['ox'] == 0 %}selected{% endif
                                %}>×</option>
                                <option value="1" {% if s['ox'] == 1 %}selected{% endif %}>○</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="入力完了">
        </form>
    </div>
    <div class="three columns">&nbsp;</div>
</div>
{% endblock %}
{% block footer %}
{{super()}}
<div class="row">
    Icons designed by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">Flaticon</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
{% endblock %}
