table {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
table , td, th {
    border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #abe6f0;
}
.control_button {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: xx-large;
}
.cell_base {
    border-width: 1px;
    border-color: #595959;
}
.cell_head {
    border: solid 1px #595959;
}
.day_cell {
    height: 2em;
    border-style: solid solid dotted;
}
.grp_cell_left {
    height: 1em;
    border-style: dotted dotted solid solid;
}
.grp_cell_right {
    height: 1em;
    border-style: dotted solid solid dotted;
}